@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root{
    --FirstColor: #ffbcba;
    --SecColor: #ffffff;
    --thirdColor: #F573B8;
}

body{
    background-color: var(--FirstColor);
}

a{
    text-decoration: none;
}
