<section class="container">
    <span>Listagem de registros</span>
    <table>
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Sexo</th>
        </thead>
        <tbody>
            <td>1</td>
            <td>Victor</td>
            <td>20</td>
            <td>M</td>
        </tbody>
        <tbody>
            <td>1</td>
            <td>Victor</td>
            <td>20</td>
            <td>M</td>
        </tbody>
        <tbody>
            <td>1</td>
            <td>Victor</td>
            <td>20</td>
            <td>M</td>
        </tbody>
        <tbody>
            <td>1</td>
            <td>Victor</td>
            <td>20</td>
            <td>M</td>
        </tbody>
    </table>
        
</section>