<section class="container">
    <section class="title">
        <i class='bx bx-user'></i>
        <span>Cadastro de pessoal</span>
    </section>
    <section class="input-group">
        <section>
            <label for="nome">Nome: </label>
            <input
                type="text" 
                placeholder="Digite o nome da pessoa..."
            >
        </section>
        <section>
            <label for="idade">Idade: </label>
            <input 
                type="number" 
                placeholder="Digite a idade da pessoa..."
            >
        </section>
        <section>
            <label for="sexo">Sexo: </label>
            <input 
                type="text" 
                placeholder="Digite o sexo da pessoa..."
            >
        </section>
        <button>Enviar</button>
    </section>
</section>