<header>
    <section class="container-header">
        <section>
            <i class='bx bxl-angular'></i>
            <span>Curso de Angular</span>
        </section>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/cadastro">Cadastro</a>
            </li>
            <li>
                <a href="/lista">Lista</a>
            </li>
        </ul>
    </section>
</header>
