<section class="container">
    <span>Deixe aqui o seu trabalho</span>
    <form>
        <section>
            <label for="title">Titulo:</label>
            <input type="text" placeholder="Digite um titulo...">
        </section>
        <section>
            <label for="title">Trabalho:</label>
            <label for="arquivo" class="upload"><span>UPLOAD DO ARQUIVO</span></label>
            <input type="file" placeholder="Digite um titulo..." name="arquivo" id="arquivo">
        </section>

        <button>Enviar trabalho</button>
    </form>
</section>
